# Diccionarios

Son estructuras de datos: 
- heterogéneas: significa que pueden estar compuestas por más de un tipo de dato
- mutables: Se puede modificar cada uno de sus elementos, también añadir, borrar, actualizar...
- SON ORDENADOS: (a partir de la versión 3.7 de python): Conservar el orden de inserción en memoria.

Un diccionario es una lista de parejas **clave: valor**, donde la clave representa un campo único (no se puede repetir) y el valor es el contenido de la memoria asociado a esa clave

In [4]:
# ejemplos de diccionarios
diccionario1= {"José":24,"María":32,"Pedro":25}
type(diccionario1), diccionario1

(dict, {'José': 24, 'María': 32, 'Pedro': 25})

In [5]:
# OJO: La clave es única dentro del diccionario
diccionario1= {"José":24,"María":32,"Pedro":25, "José": 32}
diccionario1

{'José': 32, 'María': 32, 'Pedro': 25}

In [ ]:
# Los valores de los diccionarios pueden de ser cualquier tipo
diccionario2={"José":[5,7,8,9],"Pedro":[2,4,5,9,10],"María":[2,10,9,7,4]}
diccionario2

In [6]:
# los diccionarios pueden tener valores que a su vez sean diccionarios
diccionario3={"alumno1":{"nombre":"Juan","apellidos":["Pérez","López"],"notas":[5,3,2],"familiares":{}},
              "alumno2":{"nombre":"Paco","apellidos":"Jonhson","expulsiones":3},
              "alumno3":{"nombre":"María","apellidos":["Sanchez","López"],"matriculasH":5},
              "alumno4":[]}

diccionario3

{'alumno1': {'nombre': 'Juan',
  'apellidos': ['Pérez', 'López'],
  'notas': [5, 3, 2],
  'familiares': {}},
 'alumno2': {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3},
 'alumno3': {'nombre': 'María',
  'apellidos': ['Sanchez', 'López'],
  'matriculasH': 5},
 'alumno4': []}

In [ ]:
# Son mutables, con el operador [], con la clave, realizo un acceso al elemento.
diccionario1= {"José":24,"María":32,"Pedro":25, "José": 32}
diccionario1["María"]+=1
diccionario1

In [7]:
# El sistema de indexación permite de forma flexible acceder a cualquier elemento de la E.D.
diccionario3["alumno1"]["apellidos"][0]="Martínez"
diccionario3

{'alumno1': {'nombre': 'Juan',
  'apellidos': ['Martínez', 'López'],
  'notas': [5, 3, 2],
  'familiares': {}},
 'alumno2': {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3},
 'alumno3': {'nombre': 'María',
  'apellidos': ['Sanchez', 'López'],
  'matriculasH': 5},
 'alumno4': []}

## Métodos interesantes de los diccionarios

- .keys() Devuelve una lista de claves del diccionario
- .values() Devuelve una lista de valores del diccionario
- .items() Devuelve una tupla con las claves y los valores del diccionario

In [17]:
# ejemplo de uso de keys
diccionario3.keys()

dict_keys(['alumno1', 'alumno2', 'alumno3', 'alumno4'])

In [ ]:
# ejemplo de uso de values
diccionario1.keys(), diccionario1.values()

In [9]:
# recorrido de un diccionario
diccionario1= {"José":24,"María":32,"Pedro":25, "José": 32}
for clave in diccionario1.keys():
    print(clave, diccionario1[clave])

José 32
María 32
Pedro 25

In [10]:
for valor in diccionario1.values():
    print(valor)

32
32
25

In [ ]:
# Ejercicio: Dado un valor, sacar cuál es su clave dentro de un diccionario

valor_buscado=32
for clave in diccionario1.keys():
    if valor_buscado==diccionario1[clave]:
        print("El valor",valor_buscado,"está en la clave",clave)

In [ ]:
# el método items, devuelve una lista de tuplas con la clave y el valor
diccionario1.items()

In [11]:
# recorrer pareja clave,valor de todos los elementos del diccionario
for clave,valor in diccionario1.items():
    print("la clave",clave,"tiene valor",valor)

la clave José tiene valor 32
la clave María tiene valor 32
la clave Pedro tiene valor 25

In [14]:
# Podemos crear diccionarios vacíos
diccionario4={}
diccionario4

{}

In [15]:
diccionario4["nombre"]=input("introduce tu nombre:")
diccionario4["apellidos"]=input("introduce tus apellidos:")
diccionario4["edad"]=int(input("introduce tu edad:"))

introduce tu nombre: juan
introduce tus apellidos: garcia herrero
introduce tu edad: 20

In [16]:
diccionario4

{'nombre': 'juan', 'apellidos': 'garcia herrero', 'edad': 20}

In [ ]:
# los diccionario pueden tener las claves numéricas o alfanuméricas
diccionario5={1:"pedro",2:"Mario","aaaaaa":"Juan"}
diccionario5

## Diccionarios y listas

Ya hemos visto que los diccionarios pueden contener listas, pero las listas, también pueden contener diccionarios

In [ ]:
# diccionario1
diccionario1={"nombre":"Iván","apellidos":["López","Montalbán"],"usuario":"profesor",
              "lista_alumnos":["Andrés","Javier","Jesús","..."]}
diccionario2={"nombre":"Alicia","apellidos":["Ramos","Martin"],"usuario":"administrador"}

lista=[diccionario1,diccionario2]
lista

## Otros métodos para diccionarios

- .clear : Vacia un diccionario. 
- .copy: Crea un clon de un diccionario
- .fromkeys: Permite crear un diccionario a partir de un iterador
- .update: Permite actualizar los valores de las claves de un diccionario, a partir de otro

In [18]:
# .clear
print(diccionario5)
diccionario5.clear()
print(diccionario5)

NameError: name 'diccionario5' is not defined

In [2]:
# copy
# Si yo utilizo el operador = para asignar un diccionario a una variable, 
#en realidad, no creo una copio, creo una referencia
diccionarioX=diccionario2
diccionario2['nombre']='Marcos'
diccionarioX, diccionario2

NameError: name 'diccionario2' is not defined

In [ ]:
diccionarioX['nombre']='Andres'
diccionarioX, diccionario2

In [ ]:
diccionario3=diccionario2.copy()
diccionario3["nombre"]="Diego"
diccionario2,diccionario3

In [19]:
# ejemplo de .fromkeys
diccionario6=dict.fromkeys(["alumno1","alumno2","alumno3"],10)
diccionario6

{'alumno1': 10, 'alumno2': 10, 'alumno3': 10}

In [ ]:
# ejemplo de update
diccionario7=dict.fromkeys(["alumno1","alumno2","alumno3","alumno4","alumno5"],10)
diccionario7["alumno1"]=8
diccionario7["alumno2"]=6.5

In [ ]:
diccionario6.update(diccionario7)
diccionario6

In [ ]:
# otras formas de construcción de diccionarios:
# a partir de una lista
diccionario8=dict([["alumno1",7],["alumno2",10],["alumno3",4.5]])
diccionario8

In [ ]:
# a partir de una lista de tuplas
diccionario8=dict([("alumno1",7),("alumno2",10),("alumno3",4.5)])
diccionario8

In [3]:
# otro constructor de dict, permite crear entradas a partir de los parámetros del constructor
diccionario9= dict(x=1,y=2,z=-3)
diccionario9

{'x': 1, 'y': 2, 'z': -3}

In [ ]:
# construir diccionarios a partir de diccionarios
diccionario10=dict({"x":10,"y":9})
diccionario10

In [ ]:
#combinada
diccionario11=dict({"x":10,"y":9},z=-3,t=4)
diccionario11

# Objetos JSON

JSON = Javascript object Notation 
JSON Object = una lista de pares clave, valor
JSON array = listas de valores

Para utilizar JSON con python hay que importar la librería json

- dumps -> Vuelca el contenido de un diccionario a un objeto json
- loads -> Crea un objeto diccionario a partir de un objeto json

In [ ]:
# de diccionario a JSON
import json
diccionario11=dict({"x":10,"y":9},z=-3,t=4)
json1=json.dumps(diccionario11)
type(json1),json1,type(diccionario11)

In [ ]:
# ejemplo, convertir a JSON un objeto diccionario complejo y guardar en un fichero de texto
diccionario3={"alumno1":{"nombre":"Juan","apellidos":["Pérez","López"],"notas":[5,3,2],"familiares":{}},
              "alumno2":{"nombre":"Paco","apellidos":"Jonhson","expulsiones":3},
              "alumno3":{"nombre":"María","apellidos":["Sanchez","López"],"matriculasH":5},
              "alumno4":[]}

json2=json.dumps(diccionario3)
with open("ejemplo.txt","w") as fichero:
    fichero.write(json2)

In [ ]:
# de fichero a cadena de caracteres -> a objeto diccionario
# dos formas: 
# 1ª fichero -> cadena -> loads
# 2ª json.load

#1ª forma
with open("ejemplo.txt","r") as fichero:
    cadena=fichero.read()

objeto_d=json.loads(cadena)
type(objeto_d)

In [ ]:
with open("ejemplo.txt","r") as fichero:
    diccionario11=json.load(fichero)
type(diccionario11),diccionario11

In [ ]:
# el método pop eliminar una entrada del diccionario: 
# pop (key, [valor_por_defecto]) -> valor

valor=diccionario11.pop('alumno1')

In [ ]:
diccionario11, valor

In [ ]:
#eliminar una clave no existente da error
diccionario11.pop('xxxxx')

In [ ]:
#salvo que indiquemos un valor por defecto
diccionario11.pop('xxxxx',10)

# Conjuntos 

Es una estructura de datos con unas características un tanto diferentes:
- no mutable: Los elementos del conjunto no se pueden modificar
- no están ordenados: la posición de los elementos se puede alterar 
- heterogéneos: enteros, flotantes, cadenas de caracteres, cualquier elemento de tipo básico
    - no puede haber elementos "complejos"

### inciso:
- listas -> []
- diccionarios -> {}
- tuplas -> ()
- conjuntos -> {}

In [ ]:
# no puedo crear un conjunto vació con {}
conjunto={}
type(conjunto)

In [ ]:
# para crear un conjunto hay que usar set
c1=set([1,2,4,5,6,7,2,4])
type(c1),c1

In [ ]:
c2=set((1,2,3,4,5,6,6,6,7,7,7,7))
c2, type(c2)

In [ ]:
c3={1,2,3,4,5,6,7,7,7,7,7,7}
c3, type(c3)

In [ ]:
#operaciones típicas
frutas={"kiwi","manzana","sandia","aguacate"}
frutas2={"kiwi","naranjas","limones"}

frutas,frutas2, frutas.union(frutas2)

In [ ]:
# no puedo cosas de este estilo
frutas[0]="jjjjj" # imposible NO MUTABLE

In [ ]:
frutas.intersection(frutas2)

In [ ]:
# otro ejemplo 
"kiwi" in frutas

In [ ]:
"aguacate" in frutas2

In [ ]:
# añadir elementos a un conjunto
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")


frutas

In [ ]:
# recorrido de un conjunto
for i in frutas:
    print(i)

In [ ]:
# Para cambiar un elemento de un conjunto: eliminarlo y añadirlo o convertir a lista y de lista a conjunto

frutas=list(frutas)
frutas[2]="peras"
frutas=set(frutas)
frutas

In [ ]:
cadena="Esto es una cadena de caracteres"

lista=list(cadena)

print(lista)

In [ ]:
diccionario13=dict([c,c] for c in cadena)
print(diccionario13)

In [ ]:
conjunto2=set(cadena)
conjunto2

In [ ]:
tupla=tuple(cadena)
tupla

# Las tuplas (tuples)

Son una estructura de datos que define un conjunto de elementos entre () y separados por comas. Tienen las siguientes características:
- heterogéneas
- no mutables
- ordenadas

In [ ]:
# Definir tuplas
t1= (1,2,2,3,4,5)
t1, type(t1)

In [ ]:
t2=tuple(["cadena",1,1.0,4+1j,[1,2,3,4,5]])
t2

In [ ]:
t3="un elemento", 1, 2.0
type(t3),t3

In [ ]:
# operador asignación
var1, var2 = 3, 4
var1,var2

# aquí estoy realizando un procesa llamado "Unpacking", o desempaquetar.

In [ ]:
t=("Cadena", 1.0, "María", 2, [1,2,3,4,5])
v1,v2,v3,v4,v5=t  # desempaquetar
print(v1,v2,v3,v4,v5)

In [ ]:
# _ bucle? -> descartar el valor producido por el bucle
for _ in range(1:100):
    print("Hola")

In [ ]:
# el número de elementos a desempaquetar tiene que coincidir con las variables que reciben los valores
v1,v2=t

In [ ]:
# slicing? Sí, el slicing es aplicable a las tuplas
v1,v2=t[0:2]
v1,v2

In [ ]:
# _ descartar valores de tuplas
v1,v2,_,_,_ = t

v1,v2

In [ ]:
lista1=[i for i in range(100)]
t2=tuple(lista1)
t2

In [ ]:
_,v1,v2,*_ = t2
v1,v2

## Operaciones con tuplas (operadores)

+ sumar dos tuplas
* repetir tuplas

In [ ]:
t3=(1,2)
t2+t3

In [ ]:
len(t2*5)

In [ ]:
# min(), max(), len()....
min(t2),max(t2)

In [ ]:
import numpy as np
v=np.array([1,2,3,4,5,6,7,8])

v.shape

In [ ]:
tupla_1_elemento=("Cadena")
type(tupla_1_elemento)

In [ ]:
tupla_1_elemento=("Cadena",)
type(tupla_1_elemento)

In [ ]:
tupla3=tuple("Cadena")
tuple3

In [ ]:
tupla4=(["cadena"])
type(tupla4)

In [ ]:
t5=(2)
t6=(2,1)
t7=("cadena",2.0,[1,2,3,3,4])
type(t5),type(t6),type(t7)

In [ ]:
#bucles
for i in t7:
    print(i)

In [ ]:
# recorrido con además del elemento que saque su posición
for i in range(len(t7)):
    if type(t7[i]) is list:
        for j in range(len(t7[i])):
            print(i,t7[i],j,t7[i][j])
    else:
        print(i,t7[i])

In [ ]:
# enumerate también existen en python base
for i,j in enumerate(t7):
    print(i,j)

In [ ]:
# cómo comprobar si un elemento pertenece o no a una tupla
"cadena" in t7

In [ ]:
# Dada esta tupla, recorrerla con unpacking
t8=("cereza","roja"),("kiwi","verde"),("manzana","amarilla")
for x,y in t8:
    print(x,"es",y)

In [ ]:
objetos=["portatil","radio","television"]
precios=[800,20,500]

# la función zip me permite combinar dos o más listas generando tuplas de las mismas
for x,y in zip(objetos,precios):
    print(x,"vale",y)

In [ ]:
list(zip(objetos,precios))

In [ ]:
#Las tuplas no son mutables: sus elementos no se pueden modificar

t7[0]="Cadena 1"

In [ ]:
# para cambiar el valor de una tupla: tupla -> lista -> modificamos -> tupla (Operación de dudosa eficiencia)
t7=list(t7)
t7[0]="otra cadena"
t7=tuple(t7)
t7

In [ ]:
t8={"alumno":"David"},[1,2,3,45,5],t7
t8